# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ninja
*.ninja_log
build/.bin_timestamp
build/.ninja_deps
build/app-flash_args
build/bootloader-flash_args
build/bootloader-prefix/src/bootloader-stamp/bootloader-configure
build/bootloader-prefix/src/bootloader-stamp/bootloader-done
build/bootloader-prefix/src/bootloader-stamp/bootloader-download
build/bootloader-prefix/src/bootloader-stamp/bootloader-install
build/bootloader-prefix/src/bootloader-stamp/bootloader-mkdir
build/bootloader-prefix/src/bootloader-stamp/bootloader-patch
build/bootloader-prefix/src/bootloader-stamp/bootloader-update
build/bootloader-prefix/tmp/bootloader-cfgcmd.txt
build/bootloader-prefix/tmp/bootloader-cfgcmd.txt.in
build/bootloader/.bin_timestamp
build/bootloader/.ninja_deps
build/bootloader/bootloader.bin
build/bootloader/bootloader.elf
build/bootloader/bootloader.map
build/bootloader/CMakeCache.txt
*.cmake
*.bin
build/bootloader/CMakeFiles/3.16.4/CompilerIdC/CMakeCCompilerId.c
build/bootloader/CMakeFiles/3.16.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/bootloader/CMakeFiles/cmake.check_cache
build/bootloader/CMakeFiles/CMakeOutput.log
build/bootloader/CMakeFiles/git-data/HEAD
build/bootloader/CMakeFiles/git-data/head-ref
build/bootloader/CMakeFiles/TargetDirectories.txt
build/bootloader/compile_commands.json
build/bootloader/config.env
build/bootloader/config/kconfig_menus.json
build/bootloader/config/sdkconfig.h
build/bootloader/config/sdkconfig.json
build/bootloader/kconfigs.in
build/bootloader/kconfigs_projbuild.in
build/bootloader/project_description.json
build/bootloader/project_elf_src_esp32.c
build/CMakeFiles/3.16.4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/bootloader-complete
build/CMakeFiles/bootloader.dir/Labels.json
build/CMakeFiles/bootloader.dir/Labels.txt
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/git-data/HEAD
build/CMakeFiles/git-data/head-ref
build/CMakeFiles/TargetDirectories.txt
build/compile_commands.json
build/config.env
build/config/kconfig_menus.json
build/config/sdkconfig.h
build/config/sdkconfig.json
build/counter_fw.elf
build/counter_fw.map
build/esp-idf/bootloader/bootloader-flash_args.in
build/esp-idf/esp32/esp32_out.ld
build/esp-idf/esp32/ld/esp32.project.ld
build/esp-idf/esptool_py/app-flash_args.in
build/esp-idf/esptool_py/flasher_args.json.in
build/esp-idf/mbedtls/x509_crt_bundle
build/esp-idf/partition_table/partition_table-flash_args.in
build/flash_app_args
build/flash_args
build/flash_args.in
build/flash_bootloader_args
build/flash_project_args
build/flasher_args.json
build/kconfigs.in
build/kconfigs_projbuild.in
build/ldgen_libraries
build/ldgen_libraries.in
build/partition_table-flash_args
build/project_description.json
build/project_elf_src_esp32.c
build/x509_crt_bundle.S
*.old
